---
layout: default
---

{% if page.author %}
  <p>
    Опубликованно как гость <a href="http://twitter.com/{{ page.author.twitter }}" title="{{ page.author.full}}">@{{ page.author.twitter }}</a>. {{ page.author.description }}
  </p>
{% endif %}

<p class="article_date date">
  {{page.date | to_date_string}}
</p>

<span class="article_buttons">
  <a class="tweet" target="_blank">
    <span class="balloon">Твит!</span> <img src="/images/tweet.png"/>
  </a>
  <a href="http://feeds.feedburner.com/yajivoi">
    <span class="balloon">Подпишись!</span> <img src="/images/feed.png"/>
  </a>
</span>

<hr/>

<div id="content">
	{{ content }}
</div>

<span class="article_buttons">
  <a class="tweet" target="_blank">
    <span class="balloon">Твит!</span> <img src="/images/tweet.png"/>
  </a>
  <a href="http://feeds.feedburner.com/yajivoi">
    <span class="balloon">Подпишись!</span> <img src="/images/feed.png"/>
  </a>
</span>

<hr/>

<div id="related">
    <h3>Другие Посты</h3>
    <ul class="posts">
        {% for post in site.related_posts limit:3 %}
            <li><span>{{ page.date | to_date_string }}</span>
            -
            <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<!--//disqus.com comments-->
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'httpjivoigithubcom'; // required: replace example with your forum shortname
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
